.articles-widget

  .header

    position: relative

    h2
      max-width: 80%

    .link
      position: absolute
      right: 0
      bottom: 0

  article
    border-top: $gray-lighter 1px solid
    margin-top: 1em

    h4
      margin-bottom: 0

  .subtitle
    font-size: 90%
    color: $gray