=link-reset()
  text-decoration: none
  color: inherit
  &:hover
    text-decoration: none
    color: inherit

=link-basic($color:$link-color)
  text-decoration: underline
  color: darken($color, 20%)
  &:hover
    color: $color
    text-decoration: underline